In [14]:
from sklearn import datasets
import pandas as pd
ds = datasets.load_diabetes()
print(ds.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [16]:
df = pd.DataFrame(ds.data, columns=ds.feature_names)
df['severity'] = ds.target
df.index.name = 'patient_id'
df.head(10).round(3)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,severity
patient_id,,,,,,,,,,,
0,0.038,0.051,0.062,0.022,-0.044,-0.035,-0.043,-0.003,0.020,-0.018,151.0
1,-0.002,-0.045,-0.051,-0.026,-0.008,-0.019,0.074,-0.039,-0.068,-0.092,75.0
2,0.085,0.051,0.044,-0.006,-0.046,-0.034,-0.032,-0.003,0.003,-0.026,141.0
3,-0.089,-0.045,-0.012,-0.037,0.012,0.025,-0.036,0.034,0.023,-0.009,206.0
4,0.005,-0.045,-0.036,0.022,0.004,0.016,0.008,-0.003,-0.032,-0.047,135.0
5,-0.093,-0.045,-0.041,-0.019,-0.069,-0.079,0.041,-0.076,-0.041,-0.096,97.0
6,-0.045,0.051,-0.047,-0.016,-0.040,-0.025,0.001,-0.039,-0.063,-0.038,138.0
7,0.064,0.051,-0.002,0.067,0.091,0.109,0.023,0.018,-0.036,0.003,63.0
8,0.042,0.051,0.062,-0.040,-0.014,0.006,-0.029,-0.003,-0.015,0.011,110.0
9,-0.071,-0.045,0.039,-0.033,-0.013,-0.035,-0.025,-0.003,0.068,-0.014,310.0

In [18]:
df = pd.read_csv('https://www4.stat.ncsu.edu/~boos/var.select/diabetes.tab.txt', sep='\t')
df.head()

   AGE  SEX   BMI     BP   S1     S2    S3   S4      S5  S6    Y
0   59    2  32.1  101.0  157   93.2  38.0  4.0  4.8598  87  151
1   48    1  21.6   87.0  183  103.2  70.0  3.0  3.8918  69   75
2   72    2  30.5   93.0  156   93.6  41.0  4.0  4.6728  85  141
3   24    1  25.3   84.0  198  131.4  40.0  5.0  4.8903  89  206
4   50    1  23.0  101.0  192  125.4  52.0  4.0  4.2905  80  135

In [19]:
columns = [name.lower() for name in df.columns]
columns[-1] = 'severity'
df.columns = columns
df.head()

   age  sex   bmi     bp   s1     s2    s3   s4      s5  s6  severity
0   59    2  32.1  101.0  157   93.2  38.0  4.0  4.8598  87       151
1   48    1  21.6   87.0  183  103.2  70.0  3.0  3.8918  69        75
2   72    2  30.5   93.0  156   93.6  41.0  4.0  4.6728  85       141
3   24    1  25.3   84.0  198  131.4  40.0  5.0  4.8903  89       206
4   50    1  23.0  101.0  192  125.4  52.0  4.0  4.2905  80       135